.preset-e3d-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
}

.preset-e3d-green {
    fill: lightgreen;
    background-color: lightgreen;
    border: 1px solid green;
    stroke: green;
    stroke-width: 1px;
    color: green;
}

.preset-e3d-blue {
    fill: lightblue;
    background-color: lightblue;
    border: 1px solid blue;
    stroke: blue;
    stroke-width: 1px;
    color: blue;
}

.preset-e3d-yellow {
    fill: lightyellow;
    background-color: lightyellow;
    border: 1px solid yellow;
    stroke: yellow;
    stroke-width: 1px;
    color: yellow;
}

.preset-e3d-red {
    fill: indianred;
    background-color: indianred;
    border: 1px solid red;
    stroke: red;
    stroke-width: 1px;
    color: red;
}

.preset-e3d-black {
    border: 1px solid black;
    background-color: darkgrey;
    text-align: center;
    fill:darkgrey;
    stroke:black;
    stroke-width: 1px;
}

.preset-e3d-white {
    border: 1px solid gray;
    background-color: white;
    text-align: center;
    fill:white;
    stroke:gray;
    stroke-width: 1px;
}

.preset-e3d-svg-pointer[e3d-face-with-svg] {
    pointer-events: none;
}

.preset-e3d-svg-pointer[e3d-face-with-svg] *:not(path){
    pointer-events: none;
}

.preset-e3d-svg-pointer[e3d-face-with-svg] svg path {
    cursor: pointer;
}

.preset-e3d-svg-pointer:not([e3d-face-with-svg]) {
    cursor: pointer;
}

.preset-e3d-hover:hover {
    filter: brightness(1.2);
}

[e3d-hide-until-folded] {
    visibility: hidden;
}

[e3d-shape] {
    transform-style: preserve-3d;
    margin: 0;
    display: inline-block;
}

[e3d-face] {
    position: absolute;
    transform-style: preserve-3d;
    box-sizing: border-box;
    backface-visibility: hidden;
}

[e3d-face-with-svg] {
    border: none;
    background: none;
}

[e3d-svg] {
    fill: inherit;
    z-index:-1;
    pointer-events: auto;
    position:absolute;
    left: 0px;
    top: 0px;
}

[e3d-svg] path {
    pointer-events: auto;
}
