.preset-e3d-green {
    fill: lightgreen;
    background-color: lightgreen;
    border: 1px solid green;
    stroke: green;
    stroke-width: 1px;
    color: green;
}

.preset-e3d-numbered {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
}

.preset-e3d-black {
    border: 1px solid black;
    background-color: gray;
    text-align: center;
    fill:gray;
    stroke:black;
    stroke-width: 1px;
}

.preset-e3d-white {
    border: 1px solid gray;
    background-color: white;
    text-align: center;
    fill:white;
    stroke:gray;
    stroke-width: 1px;
}

[e3d-shape] {
    transform-style: preserve-3d;
    margin: 0;
    display: inline-block;
}

[e3d-face] {
    position: absolute;
    transform-style: preserve-3d;
    box-sizing: border-box;
    backface-visibility: hidden;
}

[e3d-face="with-svg"] {
    border: none;
    background: none;
}

[e3d-svg] {
    fill: inherit;
    z-index:-1;
    pointer-events: none;
    position:absolute;
    left: 0px;
    top: 0px;
}

